body {
  font-family: "roboto";
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/*Header*/
header {
  width: 100%;
}

header img {
  width: 50%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  padding-top: 18px;
  padding-bottom: 18px;
}

.header_locate {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  box-shadow: inset 0 10px 8px -5px #d5d5d5;
  gap: 17px;
}
.header_locate input {
  background-color: #EAEAEA;
  border-style: none;
  font-weight: 500;
  font-size: 16px;
}
.header_locate button {
  margin-left: 50px;
  border-style: none;
}

/*Section one*/
.section_one {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #F6F6F6;
  padding-bottom: 50px;
  width: 100%;
}
.section_one h1 {
  width: 100%;
  margin: 40px 0px 0px 0px;
  font-size: 24px;
  font-weight: 700;
}
.section_one h2 {
  font-size: 18px;
  font-weight: 300;
}
.section_one button {
  background: linear-gradient(to top, #9356DC 20%, #FF79DA 100%);
  border-radius: 25px;
  width: 218px;
  height: 50px;
  color: white;
  font-size: 16px;
  border-style: none;
  display: block;
  margin: auto;
  margin-top: 2%;
  transition: background-color 250ms;
}
.section_one button:hover {
  background: #fface8;
  transition: transform 0.5s;
  box-shadow: 5px 5px 18px 3px #868686;
}

/*Section two*/
.section_two {
  width: 100%;
  margin: auto;
  padding: 50px 0;
}

.section_title1 {
  font-size: 24px;
  font-weight: 700;
  margin-left: 20px;
}

.section_button {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 85%;
  padding-bottom: 10px;
  margin: auto;
}

.section__button_main {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 65px;
  width: 100%;
  height: 72.38px;
  border-radius: 20px;
  border-style: none;
  background-color: #F6F6F6;
  margin: 5px 0px;
  box-shadow: 0 4px 10px 0 #d5d5d5;
}
.section__button_main i {
  margin-right: 25px;
  margin-top: 25px;
}
.section__button_main:hover {
  background: white;
  transition: transform 5s;
  box-shadow: 0px 0px 6px 0px #696969;
}

.store {
  color: #9356DC;
}

.section__button_number {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  left: -10px;
  bottom: -55px;
  width: 24px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #9356DC;
  padding: 4px;
  border: none;
}

/*Menu restaurants*/
.section_menus {
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
  background-color: #F6F6F6;
  height: 1055px;
}

.card_new {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  top: 12px;
  width: 80px;
  height: 30px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #278870;
  font-weight: 500;
}

article.card {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 18px;
  border-radius: 15px;
  background-color: #ffffff;
}

.noBreak {
  white-space: nowrap;
}

.card__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.card--img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.restaurant__cards--like {
  position: absolute;
  top: 76%;
  right: 7%;
  font-size: 25px;
}

.section_menu--title {
  border-radius: 40px 40px 0px 0px;
  background-color: #F6F6F6;
  position: relative;
  margin-top: -40px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_menu--title h1 {
  margin-right: 5%;
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-style: italic;
}

.animation__heart .fas {
  transform: translateX(-100%);
  position: absolute;
  opacity: 0;
}
.animation__heart .fas:hover {
  opacity: 1;
}

.section__entrees {
  animation: apparition 1s ease-in;
}

.section__plats {
  animation: apparition 2s ease-in;
}

.section__desserts {
  animation: apparition 3s ease-in;
}

.menu__name {
  font-size: 16px;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  margin-left: 18%;
  margin-top: 5%;
}

.menu_card {
  display: flex;
  flex-direction: column;
  margin: 35px;
  height: 0px;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.1));
}
.menu_card h2 {
  font-size: 18px;
  margin-left: 2%;
  text-overflow: ellipsis;
}
.menu_card h3 {
  font-size: 15px;
  font-weight: 300;
  margin-left: 2%;
  margin-top: -9px;
  text-overflow: ellipsis;
}
.menu_card:hover .button__check {
  margin: 0;
  transition: all 250ms;
  cursor: pointer;
}

.button__like {
  width: 28px;
  z-index: 0;
  position: relative;
  font-family: "Font Awesome 5 Free";
  font-size: 25px;
  padding: 0;
  border: transparent 0px solid;
  background-color: transparent;
  -webkit-text-stroke: 1px white;
  cursor: pointer;
}

.restaurant__cards--like {
  position: absolute;
  top: 76%;
  right: 7%;
  font-size: 25px;
}

.button__like:hover::after {
  z-index: 1;
  animation: heart-fill 900ms forwards cubic-bezier(0.65, 1.01, 0.98, 1.06);
}

footer {
  padding: 22px 25px;
  background-color: #404040;
  color: #ffffff;
}

.footer__logo {
  margin: 0 0 16px 0;
  font-size: 27px;
  font-family: "Shrikhand";
  font-size: 18px;
}

.footer__bloc {
  display: flex;
  flex-direction: column;
}

.footer__nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 7px;
  margin-bottom: -20px;
}

@media (max-width: 1024px) and (min-width: 768px) {
  /*Header*/
  header img {
    width: 30%;
  }
  /*Fonctionnement*/
  .section_button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  .section__button_main {
    width: 30%;
  }
  .section__button_number {
    position: relative;
    left: 5px;
    bottom: -30px;
    height: 24px;
  }
  /*Menus*/
  .section_menus {
    height: 730px;
    margin-bottom: -10px;
  }
  .menu_card {
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
  }
  article.card {
    width: 48%;
    margin-bottom: 4%;
  }
  /*Footer*/
  .footer {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
    height: 70px;
    gap: 16px;
  }
  .footer__bloc {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
  }
  .footer__nav {
    margin-right: 25px;
  }
  .footer__logo {
    width: 137px;
    margin: 0px -25px -20px 20px;
  }
}
@media (max-width: 1440px) and (min-width: 1023.98px) {
  header img {
    width: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
